[package]
name = "hubtain"
version = "0.1.0"
authors = ["Spencer Judge <spencer@xand.me>"]
edition = "2018"

[dependencies]
clap = "2"
derive-new = "0.5"
indicatif = "0.11"
runtime = "0.3.0-alpha.3"
runtime-attributes = "0.3.0-alpha.2"
runtime-raw = "0.3.0-alpha.2"
runtime-native = "0.3.0-alpha.2"
runtime-tokio = "0.3.0-alpha.2"
tokio = "0.1"
futures-preview = { version = "=0.3.0-alpha.16", features = ["io-compat"] }
failure = "0.1"
futures01 = { package = "futures", version = "0.1" }
get_if_addrs = "0.5"
rand = "0.6"
serde = "1.0"
bincode = "1.1"
log = "0.4.0"
slog = "2"
slog-async = "2"
slog-term = "2"
colored = "1"
lazy_static = "1"

[features]
expensive_tests = []
